tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/AccountServiceProxy/AccountService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Account" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SignType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SignTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="SignTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignType" nillable="true" type="tns:SignType" />
</xs:schema>