tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/AccountServiceProxy/AccountService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IAccountProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/AccountService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/AccountService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Account" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/AccountService?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountProxy_QueryAvaliabeleStockStorageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAvaliabeleStockStorageInfo" />
  </wsdl:message>
  <wsdl:message name="IAccountProxy_QueryAvaliabeleStockStorageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAvaliabeleStockStorageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountProxy_GenerateSignTypeClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSignTypeClass" />
  </wsdl:message>
  <wsdl:message name="IAccountProxy_GenerateSignTypeClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSignTypeClassResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountProxy_GetSignTypeCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignTypeCache" />
  </wsdl:message>
  <wsdl:message name="IAccountProxy_GetSignTypeCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignTypeCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountProxy">
    <wsdl:operation name="QueryAvaliabeleStockStorageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/QueryAvaliabeleStockStorageInfo" message="tns:IAccountProxy_QueryAvaliabeleStockStorageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/QueryAvaliabeleStockStorageInfoResponse" message="tns:IAccountProxy_QueryAvaliabeleStockStorageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSignTypeClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/GenerateSignTypeClass" message="tns:IAccountProxy_GenerateSignTypeClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/GenerateSignTypeClassResponse" message="tns:IAccountProxy_GenerateSignTypeClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignTypeCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccount/GetSignTypeCache" message="tns:IAccountProxy_GetSignTypeCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccount/GetSignTypeCacheResponse" message="tns:IAccountProxy_GetSignTypeCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountProxy" type="tns:IAccountProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="QueryAvaliabeleStockStorageInfo">
      <soap12:operation soapAction="http://tempuri.org/IAccount/QueryAvaliabeleStockStorageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSignTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IAccount/GenerateSignTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignTypeCache">
      <soap12:operation soapAction="http://tempuri.org/IAccount/GetSignTypeCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IAccountProxy" type="tns:IAccountProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IAccountProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAvaliabeleStockStorageInfo">
      <soap12:operation soapAction="http://tempuri.org/IAccount/QueryAvaliabeleStockStorageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSignTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IAccount/GenerateSignTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignTypeCache">
      <soap12:operation soapAction="http://tempuri.org/IAccount/GetSignTypeCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="NetTcpBinding_IAccountProxy" binding="tns:NetTcpBinding_IAccountProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/AccountService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IAccountProxy" binding="tns:WSHttpBinding_IAccountProxy">
      <soap12:address location="http://192.168.4.80:8082/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/AccountService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>