tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/StocktakingManageProxy/StocktakingManage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StocktakingManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStocktakingManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IStocktakingManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/StocktakingManage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/StocktakingManage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/StocktakingManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.StackingManage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStocktakingManageProxy_AddStocktakingBill_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStocktakingBill" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_AddStocktakingBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStocktakingBillResponse" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillInfos" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillDetailsInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillDetailsInfo" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillDetailsInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillDetailsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillDetial_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillDetial" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_QueryStocktakingBillDetial_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryStocktakingBillDetialResponse" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_CheckStocktakingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStocktakingDetail" />
  </wsdl:message>
  <wsdl:message name="IStocktakingManageProxy_CheckStocktakingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStocktakingDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IStocktakingManageProxy">
    <wsdl:operation name="AddStocktakingBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IStocktakingManage/AddStocktakingBill" message="tns:IStocktakingManageProxy_AddStocktakingBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStocktakingManage/AddStocktakingBillResponse" message="tns:IStocktakingManageProxy_AddStocktakingBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillInfos" message="tns:IStocktakingManageProxy_QueryStocktakingBillInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillInfosResponse" message="tns:IStocktakingManageProxy_QueryStocktakingBillInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetailsInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetailsInfo" message="tns:IStocktakingManageProxy_QueryStocktakingBillDetailsInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetailsInfoResponse" message="tns:IStocktakingManageProxy_QueryStocktakingBillDetailsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetial">
      <wsdl:input wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetial" message="tns:IStocktakingManageProxy_QueryStocktakingBillDetial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetialResponse" message="tns:IStocktakingManageProxy_QueryStocktakingBillDetial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStocktakingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStocktakingManage/CheckStocktakingDetail" message="tns:IStocktakingManageProxy_CheckStocktakingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStocktakingManage/CheckStocktakingDetailResponse" message="tns:IStocktakingManageProxy_CheckStocktakingDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStocktakingManageProxy" type="tns:IStocktakingManageProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IStocktakingManageProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddStocktakingBill">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/AddStocktakingBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillInfos">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetailsInfo">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetailsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetial">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStocktakingDetail">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/CheckStocktakingDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IStocktakingManageProxy" type="tns:IStocktakingManageProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IStocktakingManageProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStocktakingBill">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/AddStocktakingBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillInfos">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetailsInfo">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetailsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStocktakingBillDetial">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/QueryStocktakingBillDetial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStocktakingDetail">
      <soap12:operation soapAction="http://tempuri.org/IStocktakingManage/CheckStocktakingDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StocktakingManage">
    <wsdl:port name="NetTcpBinding_IStocktakingManageProxy" binding="tns:NetTcpBinding_IStocktakingManageProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/StocktakingManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/StocktakingManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IStocktakingManageProxy" binding="tns:WSHttpBinding_IStocktakingManageProxy">
      <soap12:address location="http://192.168.4.80:8082/StocktakingManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/StocktakingManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>