tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/StocktakingManageProxy/StocktakingManage3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/StocktakingManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.StackingManage" />
  <xs:element name="AddStocktakingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.StackingManage" minOccurs="0" name="sb" nillable="true" type="q1:StocktakingBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStocktakingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStocktakingBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.StackingManage" minOccurs="0" name="sq" nillable="true" type="q2:StocktakingQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillInfosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetailsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetailsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillDetailsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingDetailId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillDetialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStocktakingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingId" type="xs:long" />
        <xs:element minOccurs="0" name="stocktakingDetailId" type="xs:long" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="checker" type="xs:int" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStocktakingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStocktakingDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>