tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/OutStoreManageProxy/OutStoreManage4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/OutStoreManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" />
  <xs:element name="GenerateOutStoreBillClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutStoreBillClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GenerateOutStoreBillClassResult" nillable="true" type="q1:OutStoreBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutStoreDetailClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutStoreDetailClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GenerateOutStoreDetailClassResult" nillable="true" type="q2:OutStoreDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutStoreDetailStockClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutStoreDetailStockClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GenerateOutStoreDetailStockClassResult" nillable="true" type="q3:OutStoreDetailStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutPlanViewClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutPlanViewClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GenerateOutPlanViewClassResult" nillable="true" type="q4:OutPlanView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutPlanDetailViewClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOutPlanDetailViewClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GenerateOutPlanDetailViewClassResult" nillable="true" type="q5:OutPlanDetailView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePreGoodsViewDeliveryClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePreGoodsViewDeliveryClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="GeneratePreGoodsViewDeliveryClassResult" nillable="true" type="q6:PreGoodsViewDelivery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutStoreBillInfoByOsbId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OsbId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutStoreBillInfoByOsbIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryOutStoreBillInfoByOsbIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutPlanViewByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="comid" type="xs:int" />
        <xs:element minOccurs="0" name="deliverperson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmstid" type="xs:int" />
        <xs:element minOccurs="0" name="depid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutPlanViewByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryOutPlanViewByConditionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDeliveryViewByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDeliveryViewByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryDeliveryViewByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDeliveryViewByPreID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preId" type="xs:long" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryDeliveryViewByPreIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryDeliveryViewByPreIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPreGoodsViewDeliveryByConditionsPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="pgvd" nillable="true" type="q7:PreGoodsViewDelivery" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryPreGoodsViewDeliveryByConditionsPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryPreGoodsViewDeliveryByConditionsPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrepareGoodsByPreId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrepareGoodsByPreIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrepareGoodsByPreIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectChargeStatusByOplId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oplId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectChargeStatusByOplIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectChargeStatusByOplIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="outStoreBill" nillable="true" type="q8:OutStoreBill" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TempSaveOutBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalID" type="xs:long" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOutBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckOutBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="outStoreBill" nillable="true" type="q9:OutStoreBill" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckOutBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAndCheckOutBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBillFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="outStoreBill" nillable="true" type="q10:OutStoreBill" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBillFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TempSaveOutBillFactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutStoreBillFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalID" type="xs:long" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutStoreBillFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOutStoreBillFactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckOutBillFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="outStoreBill" nillable="true" type="q11:OutStoreBill" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckOutBillFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAndCheckOutBillFactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBillSwap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="swapOutStore" nillable="true" type="q12:SwapOutStore" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TempSaveOutBillSwapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TempSaveOutBillSwapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBillSwap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalID" type="xs:long" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBillSwapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOutBillSwapResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckSwapOutBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.OutStore" minOccurs="0" name="swapOutStore" nillable="true" type="q13:SwapOutStore" />
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckSwapOutBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAndCheckSwapOutBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPlanByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPlanByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutPlanByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPlanByIDAndRarID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="rarid" type="xs:int" />
        <xs:element minOccurs="0" name="cmstid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPlanByIDAndRarIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutPlanByIDAndRarIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutPlanPayOrNotByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="cmstid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryOutPlanPayOrNotByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryOutPlanPayOrNotByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>