tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/BaseManageProxy/BaseManage7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrivalMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmoCmstId" type="xs:int" />
      <xs:element minOccurs="0" name="AmoId" type="xs:int" />
      <xs:element minOccurs="0" name="AmoIfUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="AmoMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmoRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmoSwaId" type="xs:int" />
      <xs:element minOccurs="0" name="AmoSwaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmoUseStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrivalMode" nillable="true" type="tns:ArrivalMode" />
  <xs:complexType name="StorageWay">
    <xs:sequence>
      <xs:element minOccurs="0" name="SwaId" type="xs:int" />
      <xs:element minOccurs="0" name="SwaIfUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="SwaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwaRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwaUseStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageWay" nillable="true" type="tns:StorageWay" />
</xs:schema>