tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/SpecialBusinessManageProxy/SpecialBusinessManage3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/SpecialBusinessManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" />
  <xs:element name="SaveAndCheckFrozen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="fn" nillable="true" type="q1:Frozen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAndCheckFrozenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAndCheckFrozenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrozenByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fnId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrozenByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFrozenByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFrozenByCmstID_ComID_TypePageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="comID" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:boolean" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFrozenByCmstID_ComID_TypePageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryFrozenByCmstID_ComID_TypePageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateFrozenClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateFrozenClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="GenerateFrozenClassResult" nillable="true" type="q2:Frozen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="tg" nillable="true" type="q3:TransferGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTransferGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTransferGoodsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransferGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="tg" nillable="true" type="q4:TransferGoods" />
        <xs:element minOccurs="0" name="checkMode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTransferGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTransferGoodsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidTransferGoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transferGoodsId" type="xs:long" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidTransferGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvalidTransferGoodsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranfersGoodsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tgID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranfersGoodsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTranfersGoodsByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllTranfersGoodsPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="tgqm" nillable="true" type="q5:TransferGoodsQueryModel" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllTranfersGoodsPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryAllTranfersGoodsPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTransferGoodsClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTransferGoodsClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="GenerateTransferGoodsClassResult" nillable="true" type="q6:TransferGoods" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTranfersGoodsByConditionsForPDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tgqfjson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTranfersGoodsByConditionsForPDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryTranfersGoodsByConditionsForPDAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudegeTgoCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TgoId" type="xs:long" />
        <xs:element minOccurs="0" name="TgoCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="TgoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JudegeTgoCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JudegeTgoCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTgoByTrackingNumComOld">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="TgoCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTgoByTrackingNumComOldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryTgoByTrackingNumComOldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTgoByTrackingNumComNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="TgoCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTgoByTrackingNumComNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryTgoByTrackingNumComNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompanyByTrackingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryCompanyByTrackingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryCompanyByTrackingNumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>