tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/TranspositionManageProxy/TranspositionManage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TranspositionManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITranspositionManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_ITranspositionManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/TranspositionManage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/TranspositionManage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/TranspositionManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITranspositionManageProxy_QueryTransposition_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryTransposition" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_QueryTransposition_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryTranspositionResponse" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveTranspositionTemporary_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTranspositionTemporary" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveTranspositionTemporary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTranspositionTemporaryResponse" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheck" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_QueryTranspositionPageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryTranspositionPageInfo" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_QueryTranspositionPageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryTranspositionPageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveInvalidTransposition_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidTransposition" />
  </wsdl:message>
  <wsdl:message name="ITranspositionManageProxy_SaveInvalidTransposition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidTranspositionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITranspositionManageProxy">
    <wsdl:operation name="QueryTransposition">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranspositionManage/QueryTransposition" message="tns:ITranspositionManageProxy_QueryTransposition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranspositionManage/QueryTranspositionResponse" message="tns:ITranspositionManageProxy_QueryTransposition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTranspositionTemporary">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranspositionManage/SaveTranspositionTemporary" message="tns:ITranspositionManageProxy_SaveTranspositionTemporary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranspositionManage/SaveTranspositionTemporaryResponse" message="tns:ITranspositionManageProxy_SaveTranspositionTemporary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranspositionManage/SaveCheck" message="tns:ITranspositionManageProxy_SaveCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranspositionManage/SaveCheckResponse" message="tns:ITranspositionManageProxy_SaveCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryTranspositionPageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranspositionManage/QueryTranspositionPageInfo" message="tns:ITranspositionManageProxy_QueryTranspositionPageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranspositionManage/QueryTranspositionPageInfoResponse" message="tns:ITranspositionManageProxy_QueryTranspositionPageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidTransposition">
      <wsdl:input wsaw:Action="http://tempuri.org/ITranspositionManage/SaveInvalidTransposition" message="tns:ITranspositionManageProxy_SaveInvalidTransposition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITranspositionManage/SaveInvalidTranspositionResponse" message="tns:ITranspositionManageProxy_SaveInvalidTransposition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITranspositionManageProxy" type="tns:ITranspositionManageProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_ITranspositionManageProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="QueryTransposition">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/QueryTransposition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTranspositionTemporary">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveTranspositionTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTranspositionPageInfo">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/QueryTranspositionPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidTransposition">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveInvalidTransposition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ITranspositionManageProxy" type="tns:ITranspositionManageProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_ITranspositionManageProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryTransposition">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/QueryTransposition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTranspositionTemporary">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveTranspositionTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryTranspositionPageInfo">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/QueryTranspositionPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidTransposition">
      <soap12:operation soapAction="http://tempuri.org/ITranspositionManage/SaveInvalidTransposition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranspositionManage">
    <wsdl:port name="NetTcpBinding_ITranspositionManageProxy" binding="tns:NetTcpBinding_ITranspositionManageProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/TranspositionManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/TranspositionManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ITranspositionManageProxy" binding="tns:WSHttpBinding_ITranspositionManageProxy">
      <soap12:address location="http://192.168.4.80:8082/TranspositionManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/TranspositionManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>