tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/TranspositionManageProxy/TranspositionManage3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/TranspositionManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" />
  <xs:element name="QueryTransposition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="traId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTranspositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryTranspositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTranspositionTemporary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="t" nillable="true" type="q1:Transposition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTranspositionTemporaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTranspositionTemporaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="t" nillable="true" type="q2:Transposition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTranspositionPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" minOccurs="0" name="tq" nillable="true" type="q3:TranspositionQuery" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryTranspositionPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryTranspositionPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidTransposition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidTranspositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInvalidTranspositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>