tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/ReportManageProxy/ReportManage3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8902/ReportManage?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" />
  <xs:import schemaLocation="http://127.0.0.1:8902/ReportManage?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data" />
  <xs:element name="GetReportTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportTestResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportCountTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportCountTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportCountTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestReportStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestReportStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestReportStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughputRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q1:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughputRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThroughputRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughputReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q2:SelectModel" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="beginrow" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThroughputReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetThroughputReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageDetailRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q3:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageDetailRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStorageDetailRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q4:SelectModel" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="beginrow" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStorageDetailReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetailRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q5:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetailRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryDetailRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q6:SelectModel" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="beginrow" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryDetailReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDetailRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q7:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDetailRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInOutDetailRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="selectModel" nillable="true" type="q8:SelectModel" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="beginrow" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInOutDetailReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockHistoryRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data" minOccurs="0" name="qshm" nillable="true" type="q9:QueryStockHistoryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockHistoryRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockHistoryRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockHistoryDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data" minOccurs="0" name="qshm" nillable="true" type="q10:QueryStockHistoryModel" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockHistoryDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockHistoryDetailReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockHistoryClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StockHistoryClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="StockHistoryClassResult" nillable="true" type="q11:StockHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockBalanceRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="qsbm" nillable="true" type="q12:QueryStockBalanceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockBalanceRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockBalanceRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockBalanceDetailReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="qsbm" nillable="true" type="q13:QueryStockBalanceModel" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockBalanceDetailReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockBalanceDetailReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StockBalanceClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StockBalanceClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="StockBalanceClassResult" nillable="true" type="q14:StockBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryGoodsFlowRankRowCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="sm" nillable="true" type="q15:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryGoodsFlowRankRowCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryGoodsFlowRankRowCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryGoodsFlowRankReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="sm" nillable="true" type="q16:SelectModel" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryGoodsFlowRankReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryGoodsFlowRankReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodsFlowRankClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodsFlowRankClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CMST.Storage.ReportServer.Data.ReportManage" minOccurs="0" name="GoodsFlowRankClassResult" nillable="true" type="q17:GoodsFlowRank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>