tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/MachingManageProxy/MachingManage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MachingManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMachingManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IMachingManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/MachingManage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/MachingManage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/MachingManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMachingManageProxy_SaveMechingTemporary_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMechingTemporary" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_SaveMechingTemporary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMechingTemporaryResponse" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_SaveCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheck" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_SaveCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_QueryMachingBill_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryMachingBill" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_QueryMachingBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryMachingBillResponse" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_QueryMachingBillPageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryMachingBillPageInfo" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_QueryMachingBillPageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryMachingBillPageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_SaveInvalidMaching_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidMaching" />
  </wsdl:message>
  <wsdl:message name="IMachingManageProxy_SaveInvalidMaching_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidMachingResponse" />
  </wsdl:message>
  <wsdl:portType name="IMachingManageProxy">
    <wsdl:operation name="SaveMechingTemporary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachingManage/SaveMechingTemporary" message="tns:IMachingManageProxy_SaveMechingTemporary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachingManage/SaveMechingTemporaryResponse" message="tns:IMachingManageProxy_SaveMechingTemporary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachingManage/SaveCheck" message="tns:IMachingManageProxy_SaveCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachingManage/SaveCheckResponse" message="tns:IMachingManageProxy_SaveCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachingManage/QueryMachingBill" message="tns:IMachingManageProxy_QueryMachingBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachingManage/QueryMachingBillResponse" message="tns:IMachingManageProxy_QueryMachingBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBillPageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachingManage/QueryMachingBillPageInfo" message="tns:IMachingManageProxy_QueryMachingBillPageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachingManage/QueryMachingBillPageInfoResponse" message="tns:IMachingManageProxy_QueryMachingBillPageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidMaching">
      <wsdl:input wsaw:Action="http://tempuri.org/IMachingManage/SaveInvalidMaching" message="tns:IMachingManageProxy_SaveInvalidMaching_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMachingManage/SaveInvalidMachingResponse" message="tns:IMachingManageProxy_SaveInvalidMaching_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMachingManageProxy" type="tns:IMachingManageProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IMachingManageProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveMechingTemporary">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveMechingTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBill">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/QueryMachingBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBillPageInfo">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/QueryMachingBillPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidMaching">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveInvalidMaching" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IMachingManageProxy" type="tns:IMachingManageProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IMachingManageProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveMechingTemporary">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveMechingTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBill">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/QueryMachingBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMachingBillPageInfo">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/QueryMachingBillPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidMaching">
      <soap12:operation soapAction="http://tempuri.org/IMachingManage/SaveInvalidMaching" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachingManage">
    <wsdl:port name="NetTcpBinding_IMachingManageProxy" binding="tns:NetTcpBinding_IMachingManageProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/MachingManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/MachingManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IMachingManageProxy" binding="tns:WSHttpBinding_IMachingManageProxy">
      <soap12:address location="http://192.168.4.80:8082/MachingManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/MachingManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>