tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/MachingManageProxy/MachingManage32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/MachingManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" />
  <xs:element name="SaveMechingTemporary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" minOccurs="0" name="m" nillable="true" type="q1:Maching" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMechingTemporaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMechingTemporaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" minOccurs="0" name="m" nillable="true" type="q2:Maching" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMachingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="macId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMachingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryMachingBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMachingBillPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" minOccurs="0" name="mq" nillable="true" type="q3:MechingQuery" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMachingBillPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryMachingBillPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidMaching">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidMachingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInvalidMachingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>