tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/MachingManageProxy/MachingManage31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.MachingManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Maching">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepID" type="xs:int" />
      <xs:element minOccurs="0" name="DepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="MacID" type="xs:long" />
      <xs:element minOccurs="0" name="MakeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maker" type="xs:int" />
      <xs:element minOccurs="0" name="MakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mds" nillable="true" type="tns:ArrayOfMachingDetail" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maching" nillable="true" type="tns:Maching" />
  <xs:complexType name="ArrayOfMachingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachingDetail" nillable="true" type="tns:MachingDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachingDetail" nillable="true" type="tns:ArrayOfMachingDetail" />
  <xs:complexType name="MachingDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="GalDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalID" type="xs:int" />
      <xs:element minOccurs="0" name="GalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdeID" type="xs:long" />
      <xs:element minOccurs="0" name="MdeMacID" type="xs:long" />
      <xs:element minOccurs="0" name="NAN" type="xs:decimal" />
      <xs:element minOccurs="0" name="NPN" type="xs:int" />
      <xs:element minOccurs="0" name="NewGoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewGradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewSku" type="xs:int" />
      <xs:element minOccurs="0" name="NewSkuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewSpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OAN" type="xs:decimal" />
      <xs:element minOccurs="0" name="OPN" type="xs:int" />
      <xs:element minOccurs="0" name="OldGoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldGradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPackage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldSku" type="xs:int" />
      <xs:element minOccurs="0" name="OldSkuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldSpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachingDetail" nillable="true" type="tns:MachingDetail" />
  <xs:complexType name="MechingQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MacID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Requester" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MechingQuery" nillable="true" type="tns:MechingQuery" />
</xs:schema>