tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/SkuServiceProxy/SkuService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="signNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signType" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="auxType" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="spare" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSkuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSignTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>