tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/SkuServiceProxy/SkuService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SkuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISKUProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_ISKUProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/SkuService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/SkuService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISKUProxy_GetSku_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSku" />
  </wsdl:message>
  <wsdl:message name="ISKUProxy_GetSku_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuResponse" />
  </wsdl:message>
  <wsdl:message name="ISKUProxy_GetSignType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSignType" />
  </wsdl:message>
  <wsdl:message name="ISKUProxy_GetSignType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSignTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISKUProxy">
    <wsdl:operation name="GetSku">
      <wsdl:input wsaw:Action="http://tempuri.org/ISKU/GetSku" message="tns:ISKUProxy_GetSku_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISKU/GetSkuResponse" message="tns:ISKUProxy_GetSku_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSignType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISKU/GetSignType" message="tns:ISKUProxy_GetSignType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISKU/GetSignTypeResponse" message="tns:ISKUProxy_GetSignType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISKUProxy" type="tns:ISKUProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_ISKUProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSku">
      <soap12:operation soapAction="http://tempuri.org/ISKU/GetSku" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignType">
      <soap12:operation soapAction="http://tempuri.org/ISKU/GetSignType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ISKUProxy" type="tns:ISKUProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_ISKUProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSku">
      <soap12:operation soapAction="http://tempuri.org/ISKU/GetSku" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignType">
      <soap12:operation soapAction="http://tempuri.org/ISKU/GetSignType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkuService">
    <wsdl:port name="NetTcpBinding_ISKUProxy" binding="tns:NetTcpBinding_ISKUProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/SkuService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/SkuService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ISKUProxy" binding="tns:WSHttpBinding_ISKUProxy">
      <soap12:address location="http://192.168.4.80:8082/SkuService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/SkuService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>