tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/UIDisplayProxy/UIDisplay21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUICol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUIColResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUIColResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUITableStruct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUITableStructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUITableStructResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>