tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/UIDisplayProxy/UIDisplay1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UIDisplay" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUIDisplayProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IUIDisplayProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/UIDisplay?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/UIDisplay?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUIDisplayProxy_GetUICol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUICol" />
  </wsdl:message>
  <wsdl:message name="IUIDisplayProxy_GetUICol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUIColResponse" />
  </wsdl:message>
  <wsdl:message name="IUIDisplayProxy_GetUITableStruct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUITableStruct" />
  </wsdl:message>
  <wsdl:message name="IUIDisplayProxy_GetUITableStruct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUITableStructResponse" />
  </wsdl:message>
  <wsdl:portType name="IUIDisplayProxy">
    <wsdl:operation name="GetUICol">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIDisplay/GetUICol" message="tns:IUIDisplayProxy_GetUICol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIDisplay/GetUIColResponse" message="tns:IUIDisplayProxy_GetUICol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUITableStruct">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIDisplay/GetUITableStruct" message="tns:IUIDisplayProxy_GetUITableStruct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIDisplay/GetUITableStructResponse" message="tns:IUIDisplayProxy_GetUITableStruct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUIDisplayProxy" type="tns:IUIDisplayProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IUIDisplayProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUICol">
      <soap12:operation soapAction="http://tempuri.org/IUIDisplay/GetUICol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUITableStruct">
      <soap12:operation soapAction="http://tempuri.org/IUIDisplay/GetUITableStruct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IUIDisplayProxy" type="tns:IUIDisplayProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IUIDisplayProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUICol">
      <soap12:operation soapAction="http://tempuri.org/IUIDisplay/GetUICol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUITableStruct">
      <soap12:operation soapAction="http://tempuri.org/IUIDisplay/GetUITableStruct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UIDisplay">
    <wsdl:port name="NetTcpBinding_IUIDisplayProxy" binding="tns:NetTcpBinding_IUIDisplayProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/UIDisplay" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/UIDisplay</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IUIDisplayProxy" binding="tns:WSHttpBinding_IUIDisplayProxy">
      <soap12:address location="http://192.168.4.80:8082/UIDisplay" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/UIDisplay</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>