tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/OutStorageManageServiceProxy/OutStorageManageService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Transposition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="DepID" type="xs:int" />
      <xs:element minOccurs="0" name="DepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="IfOperate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MakeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maker" type="xs:int" />
      <xs:element minOccurs="0" name="MakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tds" nillable="true" type="tns:ArrayOfTranspositionDetail" />
      <xs:element minOccurs="0" name="TranspositionID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transposition" nillable="true" type="tns:Transposition" />
  <xs:complexType name="ArrayOfTranspositionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranspositionDetail" nillable="true" type="tns:TranspositionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranspositionDetail" nillable="true" type="tns:ArrayOfTranspositionDetail" />
  <xs:complexType name="TranspositionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AN" type="xs:decimal" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalAfter" type="xs:int" />
      <xs:element minOccurs="0" name="GalAfterDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalAfterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalBefore" type="xs:int" />
      <xs:element minOccurs="0" name="GalBeforeDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalBeforeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PN" type="xs:int" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuID" type="xs:int" />
      <xs:element minOccurs="0" name="SkuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuSignNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuStyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranspositionDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="TranspositionID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranspositionDetail" nillable="true" type="tns:TranspositionDetail" />
</xs:schema>