WcfAppliacation/WcfAppliacation/Connected Services/ServiceReference1/DataModelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataModelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_DataModelServiceProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_DataModelServiceProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockCommon" />
      <xsd:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StockModelData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataModelServiceProxy_FeedbackInfomationClass_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedbackInfomationClass" />
  </wsdl:message>
  <wsdl:message name="DataModelServiceProxy_FeedbackInfomationClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedbackInfomationClassResponse" />
  </wsdl:message>
  <wsdl:message name="DataModelServiceProxy_SkuClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SkuClass" />
  </wsdl:message>
  <wsdl:message name="DataModelServiceProxy_SkuClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkuClassResponse" />
  </wsdl:message>
  <wsdl:message name="DataModelServiceProxy_BillTypeClass_InputMessage">
    <wsdl:part name="parameters" element="tns:BillTypeClass" />
  </wsdl:message>
  <wsdl:message name="DataModelServiceProxy_BillTypeClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillTypeClassResponse" />
  </wsdl:message>
  <wsdl:portType name="DataModelServiceProxy">
    <wsdl:operation name="FeedbackInfomationClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/FeedbackInfomationClass" message="tns:DataModelServiceProxy_FeedbackInfomationClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/FeedbackInfomationClassResponse" message="tns:DataModelServiceProxy_FeedbackInfomationClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/SkuClass" message="tns:DataModelServiceProxy_SkuClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/SkuClassResponse" message="tns:DataModelServiceProxy_SkuClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/BillTypeClass" message="tns:DataModelServiceProxy_BillTypeClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/BillTypeClassResponse" message="tns:DataModelServiceProxy_BillTypeClass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_DataModelServiceProxy" type="tns:DataModelServiceProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_DataModelServiceProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="FeedbackInfomationClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/FeedbackInfomationClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/SkuClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/BillTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_DataModelServiceProxy" type="tns:DataModelServiceProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_DataModelServiceProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FeedbackInfomationClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/FeedbackInfomationClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/SkuClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/BillTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataModelService">
    <wsdl:port name="NetTcpBinding_DataModelServiceProxy" binding="tns:NetTcpBinding_DataModelServiceProxy">
      <soap12:address location="net.tcp://127.0.0.1:8081/DataModelService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:8081/DataModelService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_DataModelServiceProxy" binding="tns:WSHttpBinding_DataModelServiceProxy">
      <soap12:address location="http://127.0.0.1:8082/DataModelService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://127.0.0.1:8082/DataModelService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>