WcfAppliacation/WcfAppliacation/Connected Services/ServiceReference1/DataModelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockCommon" />
  <xs:import schemaLocation="http://127.0.0.1:8082/DataModelService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StockModelData" />
  <xs:element name="FeedbackInfomationClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FeedbackInfomationClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockCommon" minOccurs="0" name="FeedbackInfomationClassResult" nillable="true" type="q1:FeedbackInfomation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkuClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SkuClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StockModelData" minOccurs="0" name="SkuClassResult" nillable="true" type="q2:Sku" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillTypeClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BillTypeClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StockModelData" minOccurs="0" name="BillTypeClassResult" nillable="true" type="q3:BillType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>