tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/DataModelProxy/DataModelService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.BaseManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.BaseManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MenuEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="MenuFatherID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuRank" type="xs:int" />
      <xs:element minOccurs="0" name="Operations" nillable="true" type="tns:ArrayOfOperationEntity" />
      <xs:element minOccurs="0" name="SubMenus" nillable="true" type="tns:ArrayOfMenuEntity" />
      <xs:element minOccurs="0" name="SystemID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuEntity" nillable="true" type="tns:MenuEntity" />
  <xs:complexType name="ArrayOfOperationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationEntity" nillable="true" type="tns:OperationEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationEntity" nillable="true" type="tns:ArrayOfOperationEntity" />
  <xs:complexType name="OperationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      <xs:element minOccurs="0" name="OperationID" type="xs:int" />
      <xs:element minOccurs="0" name="OperationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationEntity" nillable="true" type="tns:OperationEntity" />
  <xs:complexType name="ArrayOfMenuEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuEntity" nillable="true" type="tns:MenuEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuEntity" nillable="true" type="tns:ArrayOfMenuEntity" />
  <xs:complexType name="MenuUI">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mes" nillable="true" type="tns:ArrayOfMenuEntity" />
      <xs:element minOccurs="0" name="Oes" nillable="true" type="tns:ArrayOfOperationEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuUI" nillable="true" type="tns:MenuUI" />
</xs:schema>