tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/DataModelProxy/DataModelService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataModelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDataModelProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IDataModelProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Common" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd3" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.BaseManage" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/DataModelService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Account" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataModelProxy_GeneratePageInfoClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePageInfoClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_GeneratePageInfoClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePageInfoClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_MenuEntityClass_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuEntityClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_MenuEntityClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuEntityClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_MenuUIClass_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuUIClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_MenuUIClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuUIClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_OperationEntityClass_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationEntityClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_OperationEntityClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationEntityClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_FeedbackInfomationClass_InputMessage">
    <wsdl:part name="parameters" element="tns:FeedbackInfomationClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_FeedbackInfomationClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeedbackInfomationClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_SkuClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SkuClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_SkuClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkuClassResponse" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_BillTypeClass_InputMessage">
    <wsdl:part name="parameters" element="tns:BillTypeClass" />
  </wsdl:message>
  <wsdl:message name="IDataModelProxy_BillTypeClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:BillTypeClassResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataModelProxy">
    <wsdl:operation name="GeneratePageInfoClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/GeneratePageInfoClass" message="tns:IDataModelProxy_GeneratePageInfoClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/GeneratePageInfoClassResponse" message="tns:IDataModelProxy_GeneratePageInfoClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuEntityClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/MenuEntityClass" message="tns:IDataModelProxy_MenuEntityClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/MenuEntityClassResponse" message="tns:IDataModelProxy_MenuEntityClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MenuUIClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/MenuUIClass" message="tns:IDataModelProxy_MenuUIClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/MenuUIClassResponse" message="tns:IDataModelProxy_MenuUIClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationEntityClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/OperationEntityClass" message="tns:IDataModelProxy_OperationEntityClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/OperationEntityClassResponse" message="tns:IDataModelProxy_OperationEntityClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeedbackInfomationClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/FeedbackInfomationClass" message="tns:IDataModelProxy_FeedbackInfomationClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/FeedbackInfomationClassResponse" message="tns:IDataModelProxy_FeedbackInfomationClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/SkuClass" message="tns:IDataModelProxy_SkuClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/SkuClassResponse" message="tns:IDataModelProxy_SkuClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataModel/BillTypeClass" message="tns:IDataModelProxy_BillTypeClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataModel/BillTypeClassResponse" message="tns:IDataModelProxy_BillTypeClass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDataModelProxy" type="tns:IDataModelProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IDataModelProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GeneratePageInfoClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/GeneratePageInfoClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuEntityClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/MenuEntityClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuUIClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/MenuUIClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationEntityClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/OperationEntityClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedbackInfomationClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/FeedbackInfomationClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/SkuClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/BillTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IDataModelProxy" type="tns:IDataModelProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataModelProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratePageInfoClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/GeneratePageInfoClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuEntityClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/MenuEntityClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MenuUIClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/MenuUIClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationEntityClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/OperationEntityClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeedbackInfomationClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/FeedbackInfomationClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkuClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/SkuClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BillTypeClass">
      <soap12:operation soapAction="http://tempuri.org/IDataModel/BillTypeClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataModelService">
    <wsdl:port name="NetTcpBinding_IDataModelProxy" binding="tns:NetTcpBinding_IDataModelProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/DataModelService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/DataModelService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IDataModelProxy" binding="tns:WSHttpBinding_IDataModelProxy">
      <soap12:address location="http://192.168.4.80:8082/DataModelService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/DataModelService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>