tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/LoginManageProxy/LoginManage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_ILoginManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/LoginManage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/LoginManage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginManageProxy_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginManageProxy_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginManageProxy_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ILoginManageProxy_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginManageProxy_SaveUserPasswordEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserPasswordEdit" />
  </wsdl:message>
  <wsdl:message name="ILoginManageProxy_SaveUserPasswordEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserPasswordEditResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginManageProxy">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManage/Login" message="tns:ILoginManageProxy_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManage/LoginResponse" message="tns:ILoginManageProxy_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManage/Logout" message="tns:ILoginManageProxy_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManage/LogoutResponse" message="tns:ILoginManageProxy_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUserPasswordEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginManage/SaveUserPasswordEdit" message="tns:ILoginManageProxy_SaveUserPasswordEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginManage/SaveUserPasswordEditResponse" message="tns:ILoginManageProxy_SaveUserPasswordEdit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginManageProxy" type="tns:ILoginManageProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginManageProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserPasswordEdit">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/SaveUserPasswordEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ILoginManageProxy" type="tns:ILoginManageProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_ILoginManageProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUserPasswordEdit">
      <soap12:operation soapAction="http://tempuri.org/ILoginManage/SaveUserPasswordEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginManage">
    <wsdl:port name="NetTcpBinding_ILoginManageProxy" binding="tns:NetTcpBinding_ILoginManageProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/LoginManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/LoginManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ILoginManageProxy" binding="tns:WSHttpBinding_ILoginManageProxy">
      <soap12:address location="http://192.168.4.80:8082/LoginManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/LoginManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>