WcfAppliacation/WcfAppliacation/Connected Services/StockTakingManage/StockTakingManage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8082/StockTakingManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StockModelData" />
  <xs:element name="AddStocktakingBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StockModelData" minOccurs="0" name="sm" nillable="true" type="q1:StockModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStocktakingBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStocktakingBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StockModelData" minOccurs="0" name="sq" nillable="true" type="q2:StocktakingQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillInfosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetailsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetailsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillDetailsInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingDetailId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStocktakingBillDetialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStocktakingBillDetialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStocktakingDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocktakingId" type="xs:long" />
        <xs:element minOccurs="0" name="stocktakingDetailId" type="xs:long" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="checker" type="xs:int" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStocktakingDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStocktakingDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatorAuth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OperatorAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperatorAuthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>