tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/CustomerManageProxy/CustomerManage64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ContractManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ContractManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompanyContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyContract" nillable="true" type="tns:CompanyContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyContract" nillable="true" type="tns:ArrayOfCompanyContract" />
  <xs:complexType name="CompanyContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="ContractID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryPerson" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EntryPersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperstionStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyContract" nillable="true" type="tns:CompanyContract" />
</xs:schema>