tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/ChargeManageProxy/ChargeManage4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillNo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="DepID" type="xs:int" />
      <xs:element minOccurs="0" name="DepName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditCount" type="xs:int" />
      <xs:element minOccurs="0" name="EditTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Editer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EditerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Jdes" nillable="true" type="tns:ArrayOfJobDetail" />
      <xs:element minOccurs="0" name="JobId" type="xs:long" />
      <xs:element minOccurs="0" name="MakeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maker" type="xs:int" />
      <xs:element minOccurs="0" name="MakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintCount" type="xs:int" />
      <xs:element minOccurs="0" name="PrintTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Printer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrinterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="ArrayOfJobDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDetail" nillable="true" type="tns:JobDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDetail" nillable="true" type="tns:ArrayOfJobDetail" />
  <xs:complexType name="JobDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfMoney" type="xs:decimal" />
      <xs:element minOccurs="0" name="JdeId" type="xs:long" />
      <xs:element minOccurs="0" name="JmoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JmoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="xs:long" />
      <xs:element minOccurs="0" name="JtyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JtyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OpeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateStand" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkLoad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDetail" nillable="true" type="tns:JobDetail" />
  <xs:complexType name="ArrayOfJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob" />
  <xs:complexType name="JobQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillNO" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BillType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="DateType" type="xs:int" />
      <xs:element minOccurs="0" name="DepID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="JtyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Maker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OpeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobQueryModel" nillable="true" type="tns:JobQueryModel" />
  <xs:complexType name="JobMode">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      <xs:element minOccurs="0" name="HelpCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="IfUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="JmoId" type="xs:int" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UseStstus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobMode" nillable="true" type="tns:JobMode" />
  <xs:complexType name="ArrayOfJobMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobMode" nillable="true" type="tns:JobMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobMode" nillable="true" type="tns:ArrayOfJobMode" />
  <xs:complexType name="JobType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      <xs:element minOccurs="0" name="IfUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="JtyId" type="xs:int" />
      <xs:element minOccurs="0" name="JtyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseStstus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobType" nillable="true" type="tns:JobType" />
</xs:schema>