tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/ChargeManageProxy/ChargeManage42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/ChargeManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" />
  <xs:import schemaLocation="http://192.168.4.80:8082/ChargeManage?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Charge" />
  <xs:element name="SaveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jb" nillable="true" type="q1:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobForPDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobjson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobForPDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJobForPDAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckJobForPDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="checkerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckJobForPDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckJobForPDAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByConditionsForPDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jqmfjson" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByConditionsForPDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobByConditionsForPDAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jb" nillable="true" type="q2:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jbs" nillable="true" type="q3:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchCheckJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchCheckJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnCheckJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jb" nillable="true" type="q4:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnCheckJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnCheckJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnCheckJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jbs" nillable="true" type="q5:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchUnCheckJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchUnCheckJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jb" nillable="true" type="q6:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReturnJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jbs" nillable="true" type="q7:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchReturnJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchReturnJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jb" nillable="true" type="q8:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvalidJobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByConditionsPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jqm" nillable="true" type="q9:JobQueryModel" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByConditionsPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobByConditionsPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByBillNOAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billNO" type="xs:long" />
        <xs:element minOccurs="0" name="billType" type="xs:int" />
        <xs:element minOccurs="0" name="depId" type="xs:int" />
        <xs:element minOccurs="0" name="makerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByBillNOAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobByBillNOAndTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByBillNoAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billNO" type="xs:long" />
        <xs:element minOccurs="0" name="billType" type="xs:int" />
        <xs:element minOccurs="0" name="depId" type="xs:int" />
        <xs:element minOccurs="0" name="makerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsByBillNoAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobsByBillNoAndTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jmo" nillable="true" type="q10:JobMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJobModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobModeIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jmo" nillable="true" type="q11:JobMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJobModeIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJobModeIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobeMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllJobeModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllJobeModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUseJobeMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUseJobeModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllUseJobeModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJobModeByCmstAndMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="jmoMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJobModeByCmstAndModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryJobModeByCmstAndModeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jmo" nillable="true" type="q12:JobMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJmoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJmoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelJmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jmos" nillable="true" type="q13:ArrayOfJobMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelJmoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelJmoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportJmo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jmos" nillable="true" type="q14:ArrayOfJobMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportJmoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportJmoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJobTypeByCmstAndName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="jtyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryJobTypeByCmstAndNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryJobTypeByCmstAndNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ChargeManage" minOccurs="0" name="jty" nillable="true" type="q15:JobType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveJtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveJtyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUseJobTypeByCmst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUseJobTypeByCmstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryUseJobTypeByCmstResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bchId" type="xs:long" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryBatchChargeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchChargeByBillNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billNo" type="xs:long" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchChargeByBillNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryBatchChargeByBillNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchChargeTemporary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Charge" minOccurs="0" name="b" nillable="true" type="q16:BatchCharge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchChargeTemporaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBatchChargeTemporaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBatchCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Charge" minOccurs="0" name="b" nillable="true" type="q17:BatchCharge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBatchChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBatchChargeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchChargePageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Charge" minOccurs="0" name="bq" nillable="true" type="q18:BatchChargeQuery" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryBatchChargePageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryBatchChargePageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatchChargeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.Charge" minOccurs="0" name="b" nillable="true" type="q19:BatchCharge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatchChargeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBatchChargeStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>