tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/ProductManageProxy/ProductManage42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/ProductManage?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" />
  <xs:element name="GetProductInfoCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoCacheForPDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoCacheForPDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoCacheForPDAResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoCacheAndroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoCacheAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoCacheAndroidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialsCacheAndroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialsCacheAndroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaterialsCacheAndroidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pro" nillable="true" type="q1:ProductInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportProResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="Pna" nillable="true" type="q2:ProductNameEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPnaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportPnaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnaIndId" type="xs:int" />
        <xs:element minOccurs="0" name="pnaCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="pnaName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pne" nillable="true" type="q3:ProductNameEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pne" nillable="true" type="q4:ProductNameEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProductNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductNameByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameByNameAndId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnaName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pnaId" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameByNameAndIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductNameByNameAndIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductNameEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductNameEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateProductNameEntityResult" nillable="true" type="q5:ProductNameEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pne" nillable="true" type="q6:ProductNameEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelProductNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pnaIndId" type="xs:int" />
        <xs:element minOccurs="0" name="pnaCmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductNameIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsBreedByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gbrName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsBreedByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoodsBreedByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGoodsBreedEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGoodsBreedEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateGoodsBreedEntityResult" nillable="true" type="q7:GoodsBreedEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGoodsClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGoodsClassEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGoodsClassEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateGoodsClassEntityResult" nillable="true" type="q8:GoodsClassEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateManufacturerEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateManufacturerEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateManufacturerEntityClassResult" nillable="true" type="q9:ManufacturerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManIndId" type="xs:int" />
        <xs:element minOccurs="0" name="ManCmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetManufacturerIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManIndId" type="xs:int" />
        <xs:element minOccurs="0" name="ManCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllManufacturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="man" nillable="true" type="q10:ManufacturerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveManufacturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="man" nillable="true" type="q11:ManufacturerEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelManufacturerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePlasticizingProductsEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePlasticizingProductsEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GeneratePlasticizingProductsEntityClassResult" nillable="true" type="q12:PlasticizingProductsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlasticizingProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PprPnaId" type="xs:int" />
        <xs:element minOccurs="0" name="PprSpeId" type="xs:int" />
        <xs:element minOccurs="0" name="PprGraId" type="xs:int" />
        <xs:element minOccurs="0" name="PprManId" type="xs:int" />
        <xs:element minOccurs="0" name="PprPacId" type="xs:int" />
        <xs:element minOccurs="0" name="PprCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="PprName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlasticizingProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllPlasticizingProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlasticizingProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="ppr" nillable="true" type="q13:PlasticizingProductsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlasticizingProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePlasticizingProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPprName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PprCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="PprId" type="xs:int" />
        <xs:element minOccurs="0" name="PprName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPprNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPprNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlasticizingProductsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PprPnaId" type="xs:int" />
        <xs:element minOccurs="0" name="PprSpeId" type="xs:int" />
        <xs:element minOccurs="0" name="PprGraId" type="xs:int" />
        <xs:element minOccurs="0" name="PprManId" type="xs:int" />
        <xs:element minOccurs="0" name="PprPacId" type="xs:int" />
        <xs:element minOccurs="0" name="PprCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="PprName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryFileds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlasticizingProductsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlasticizingProductsPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlasticizingProductsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PprId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlasticizingProductsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlasticizingProductsByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCustomerProductEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCustomerProductEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateCustomerProductEntityClassResult" nillable="true" type="q14:CustomerProductEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CprProId" type="xs:int" />
        <xs:element minOccurs="0" name="CprComID" type="xs:int" />
        <xs:element minOccurs="0" name="CprCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllCustomerProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="cpr" nillable="true" type="q15:CustomerProductEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCustomerProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProductPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CprProId" type="xs:int" />
        <xs:element minOccurs="0" name="CprComID" type="xs:int" />
        <xs:element minOccurs="0" name="CprCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryFileds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProductPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerProductPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CprId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerProductByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductInfoEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProductInfoEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateProductInfoEntityClassResult" nillable="true" type="q16:ProductInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProIndId" type="xs:int" />
        <xs:element minOccurs="0" name="ProCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="ProName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HelpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProPnaId" type="xs:int" />
        <xs:element minOccurs="0" name="ProSpeId" type="xs:int" />
        <xs:element minOccurs="0" name="ProGraId" type="xs:int" />
        <xs:element minOccurs="0" name="ProManId" type="xs:int" />
        <xs:element minOccurs="0" name="ProPacId" type="xs:int" />
        <xs:element minOccurs="0" name="queryFileds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProIndId" type="xs:int" />
        <xs:element minOccurs="0" name="ProCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="ProName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HelpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProPnaId" type="xs:int" />
        <xs:element minOccurs="0" name="ProSpeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ProGraId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ProManId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ProPacId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proIndId" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
        <xs:element minOccurs="0" name="proName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pnaName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectProductInfoListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pro" nillable="true" type="q17:ProductInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pro" nillable="true" type="q18:ProductInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speIndId" type="xs:int" />
        <xs:element minOccurs="0" name="speCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="speName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speIndId" type="xs:int" />
        <xs:element minOccurs="0" name="speCmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="se" nillable="true" type="q19:SpecEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="se" nillable="true" type="q20:SpecEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSpecResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecByNameAndId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="speId" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecByNameAndIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecByNameAndIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSpecEntity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSpecEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateSpecEntityResult" nillable="true" type="q21:SpecEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="spe" nillable="true" type="q22:SpecEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSpecResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graIndId" type="xs:int" />
        <xs:element minOccurs="0" name="graCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="graName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graIndId" type="xs:int" />
        <xs:element minOccurs="0" name="graCmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="ge" nillable="true" type="q23:GradeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="ge" nillable="true" type="q24:GradeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeByNameAndId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="graName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="graId" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeByNameAndIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeByNameAndIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGradeEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateGradeEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GenerateGradeEntityClassResult" nillable="true" type="q25:GradeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="gra" nillable="true" type="q26:GradeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelGradeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pacIndId" type="xs:int" />
        <xs:element minOccurs="0" name="pacCmstId" type="xs:int" />
        <xs:element minOccurs="0" name="pacName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingIfUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pacIndId" type="xs:int" />
        <xs:element minOccurs="0" name="pacCmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingIfUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackagingIfUseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pe" nillable="true" type="q27:PackagingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pe" nillable="true" type="q28:PackagingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pacName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackagingByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingByNameAndId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pacName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pacId" type="xs:int" />
        <xs:element minOccurs="0" name="cmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingByNameAndIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackagingByNameAndIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePackagingEntityClass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePackagingEntityClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="GeneratePackagingEntityClassResult" nillable="true" type="q29:PackagingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPackaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.ProductManage" minOccurs="0" name="pac" nillable="true" type="q30:PackagingEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelPackagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelPackagingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductNameCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturerCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetManufacturerCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGradeCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGradeCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndId" type="xs:int" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagingCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackagingCacheResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>