tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/InStoreManageProxy/InStoreManage32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.4.80:8082/InStoreManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" />
  <xs:element name="SaveInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="inn" nillable="true" type="q1:InNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="inn" nillable="true" type="q2:InNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inNoticeId" type="xs:long" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvalidInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvalidInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inNoticeId" type="xs:long" />
        <xs:element minOccurs="0" name="ender" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inNoticeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestartInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavaAndCheckInNotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="inn" nillable="true" type="q3:InNotice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavaAndCheckInNoticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavaAndCheckInNoticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInNoticeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInNoticeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInNoticeByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInNoticeByCmstID_OpeID_DepID_AmoIDPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="opeID" type="xs:int" />
        <xs:element minOccurs="0" name="depID" type="xs:int" />
        <xs:element minOccurs="0" name="amoID" type="xs:int" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="comID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInNoticeByCmstID_OpeID_DepID_AmoIDPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryInNoticeByCmstID_OpeID_DepID_AmoIDPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInNoticeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInNoticeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllInNoticeListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInNoticeByConditionsPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="inqm" nillable="true" type="q4:InNoticeQueryModel" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInNoticeByConditionsPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryInNoticeByConditionsPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockByConditionsPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="sqm" nillable="true" type="q5:StockuQueryModel" />
        <xs:element minOccurs="0" name="queryFileds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Page" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockByConditionsPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockByConditionsPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockInfoByConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="sqm" nillable="true" type="q6:StockuQueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockInfoByConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockInfoByConditionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockInfoBySkuID_RarID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="SkuID" type="xs:int" />
        <xs:element minOccurs="0" name="RarID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockInfoBySkuID_RarIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockInfoBySkuID_RarIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockByConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skuId" type="xs:long" />
        <xs:element minOccurs="0" name="cmstID" type="xs:int" />
        <xs:element minOccurs="0" name="subjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subjectType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryStockByConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryStockByConditionsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreBillTemporary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="isb" nillable="true" type="q7:InStoreBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreBillTemporaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInStoreBillTemporaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreInAddAndCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="isb" nillable="true" type="q8:InStoreBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreInAddAndCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInStoreInAddAndCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TallyClerkConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="isb" nillable="true" type="q9:InStoreBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TallyClerkConfirmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TallyClerkConfirmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsbId" type="xs:long" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="checker" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInStoreCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInStoreCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInStoreBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInStoreBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryInStoreBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInStoreBillPageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" minOccurs="0" name="isiq" nillable="true" type="q10:InStoreInfoQuery" />
        <xs:element minOccurs="0" name="queryFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInStoreBillPageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryInStoreBillPageInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseInStoreBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbId" type="xs:long" />
        <xs:element minOccurs="0" name="maker" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseInStoreBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseInStoreBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidInStoreBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInvalidInStoreBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInvalidInStoreBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawInStoreBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="operatorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawInStoreBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WithdrawInStoreBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintInStoreBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isbId" type="xs:long" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintInStoreBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintInStoreBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIsbByTrackingNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CmstId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIsbByTrackingNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryIsbByTrackingNumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>