tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/InStoreManageProxy/InStoreManage31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.InStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InNotice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amo_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Amo_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cmst_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Com_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Com_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dep_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Dep_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Inds" nillable="true" type="tns:ArrayOfInNoticeDetail" />
      <xs:element minOccurs="0" name="Ine_CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ine_IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ine_UseFinish" type="xs:boolean" />
      <xs:element minOccurs="0" name="MakeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ope_Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ope_CheckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ope_Ender" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ope_EnderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ope_Maker" type="xs:int" />
      <xs:element minOccurs="0" name="Ope_MakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InNotice" nillable="true" type="tns:InNotice" />
  <xs:complexType name="ArrayOfInNoticeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InNoticeDetail" nillable="true" type="tns:InNoticeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInNoticeDetail" nillable="true" type="tns:ArrayOfInNoticeDetail" />
  <xs:complexType name="InNoticeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountIngNum" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bre_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Ino_Id" type="xs:long" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackingNum" type="xs:int" />
      <xs:element minOccurs="0" name="Pro_Descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sku_Id" type="xs:int" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InNoticeDetail" nillable="true" type="tns:InNoticeDetail" />
  <xs:complexType name="InNoticeQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InoID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeType" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InNoticeQueryModel" nillable="true" type="tns:InNoticeQueryModel" />
  <xs:complexType name="StockuQueryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AN" type="xs:boolean" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepId" type="xs:int" />
      <xs:element minOccurs="0" name="GalID" type="xs:int" />
      <xs:element minOccurs="0" name="GalLevel1" type="xs:int" />
      <xs:element minOccurs="0" name="GalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PN" type="xs:boolean" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RarId" type="xs:int" />
      <xs:element minOccurs="0" name="SignAuxName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuId" type="xs:int" />
      <xs:element minOccurs="0" name="Spare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockId" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockuQueryModel" nillable="true" type="tns:StockuQueryModel" />
  <xs:complexType name="InStoreBill">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalMode" type="xs:int" />
      <xs:element minOccurs="0" name="ArrivalModeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CheckerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepotID" type="xs:int" />
      <xs:element minOccurs="0" name="DepotName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Device" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IfDel" type="xs:boolean" />
      <xs:element minOccurs="0" name="IfOperate" type="xs:boolean" />
      <xs:element minOccurs="0" name="InStoreBillID" type="xs:long" />
      <xs:element minOccurs="0" name="Isds" nillable="true" type="tns:ArrayOfInStoreDetail" />
      <xs:element minOccurs="0" name="MakeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maker" type="xs:int" />
      <xs:element minOccurs="0" name="MakerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintCount" type="xs:int" />
      <xs:element minOccurs="0" name="PrintTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Printer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrinterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceptionTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReverseNum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TallyClerk" type="xs:int" />
      <xs:element minOccurs="0" name="TallyClerkName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackingNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InStoreBill" nillable="true" type="tns:InStoreBill" />
  <xs:complexType name="ArrayOfInStoreDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InStoreDetail" nillable="true" type="tns:InStoreDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInStoreDetail" nillable="true" type="tns:ArrayOfInStoreDetail" />
  <xs:complexType name="InStoreDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuxID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BatNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GalID" type="xs:int" />
      <xs:element minOccurs="0" name="GalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InFactAN" type="xs:decimal" />
      <xs:element minOccurs="0" name="InFactPN" type="xs:int" />
      <xs:element minOccurs="0" name="InPlanAN" type="xs:decimal" />
      <xs:element minOccurs="0" name="InPlanPN" type="xs:int" />
      <xs:element minOccurs="0" name="InStoreDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="InStoreID" type="xs:long" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SignTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuID" type="xs:int" />
      <xs:element minOccurs="0" name="SkuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuNotice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Spare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InStoreDetail" nillable="true" type="tns:InStoreDetail" />
  <xs:complexType name="InStoreInfoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CarNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CmstID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsbID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Maker" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ManName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Requester" type="xs:int" />
      <xs:element minOccurs="0" name="SpecName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InStoreInfoQuery" nillable="true" type="tns:InStoreInfoQuery" />
</xs:schema>