tools/代理类/CMST.Storage.Client.Proxy/CMST.Storage.Client.Proxy/Service References/AdjustManageProxy/AdjustManage1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdjustManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAdjustManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IAdjustManageProxy_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.4.80:8082/AdjustManage?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/AdjustManage?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.4.80:8082/AdjustManage?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMST.Storage.Server.Data.SpecialBusiness" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdjustManageProxy_SaveAdjustTemporary_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAdjustTemporary" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_SaveAdjustTemporary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAdjustTemporaryResponse" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_JavaSaveAdjustTemporary_InputMessage">
    <wsdl:part name="parameters" element="tns:JavaSaveAdjustTemporary" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_JavaSaveAdjustTemporary_OutputMessage">
    <wsdl:part name="parameters" element="tns:JavaSaveAdjustTemporaryResponse" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_SaveCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheck" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_SaveCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_QueryAdjust_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdjust" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_QueryAdjust_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdjustResponse" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_QueryAdjustPageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdjustPageInfo" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_QueryAdjustPageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAdjustPageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_SaveInvalidAdjust_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidAdjust" />
  </wsdl:message>
  <wsdl:message name="IAdjustManageProxy_SaveInvalidAdjust_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInvalidAdjustResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdjustManageProxy">
    <wsdl:operation name="SaveAdjustTemporary">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/SaveAdjustTemporary" message="tns:IAdjustManageProxy_SaveAdjustTemporary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/SaveAdjustTemporaryResponse" message="tns:IAdjustManageProxy_SaveAdjustTemporary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JavaSaveAdjustTemporary">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/JavaSaveAdjustTemporary" message="tns:IAdjustManageProxy_JavaSaveAdjustTemporary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/JavaSaveAdjustTemporaryResponse" message="tns:IAdjustManageProxy_JavaSaveAdjustTemporary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/SaveCheck" message="tns:IAdjustManageProxy_SaveCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/SaveCheckResponse" message="tns:IAdjustManageProxy_SaveCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAdjust">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/QueryAdjust" message="tns:IAdjustManageProxy_QueryAdjust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/QueryAdjustResponse" message="tns:IAdjustManageProxy_QueryAdjust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAdjustPageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/QueryAdjustPageInfo" message="tns:IAdjustManageProxy_QueryAdjustPageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/QueryAdjustPageInfoResponse" message="tns:IAdjustManageProxy_QueryAdjustPageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidAdjust">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdjustManage/SaveInvalidAdjust" message="tns:IAdjustManageProxy_SaveInvalidAdjust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdjustManage/SaveInvalidAdjustResponse" message="tns:IAdjustManageProxy_SaveInvalidAdjust_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAdjustManageProxy" type="tns:IAdjustManageProxy">
    <wsp:PolicyReference URI="#NetTcpBinding_IAdjustManageProxy_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SaveAdjustTemporary">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveAdjustTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaSaveAdjustTemporary">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/JavaSaveAdjustTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAdjust">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/QueryAdjust" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAdjustPageInfo">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/QueryAdjustPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidAdjust">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveInvalidAdjust" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IAdjustManageProxy" type="tns:IAdjustManageProxy">
    <wsp:PolicyReference URI="#WSHttpBinding_IAdjustManageProxy_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveAdjustTemporary">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveAdjustTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JavaSaveAdjustTemporary">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/JavaSaveAdjustTemporary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCheck">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAdjust">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/QueryAdjust" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAdjustPageInfo">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/QueryAdjustPageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInvalidAdjust">
      <soap12:operation soapAction="http://tempuri.org/IAdjustManage/SaveInvalidAdjust" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdjustManage">
    <wsdl:port name="NetTcpBinding_IAdjustManageProxy" binding="tns:NetTcpBinding_IAdjustManageProxy">
      <soap12:address location="net.tcp://192.168.4.80:8081/AdjustManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.4.80:8081/AdjustManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IAdjustManageProxy" binding="tns:WSHttpBinding_IAdjustManageProxy">
      <soap12:address location="http://192.168.4.80:8082/AdjustManage" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.4.80:8082/AdjustManage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>